__pycache__/
*.py[cod]
*.pyo
*.sqlite3
*.log
.DS_Store
.env
.env.prod
*.env
*.env.*
*.egg-info/
dist/
build/
staticfiles/
media/
.idea/
.vscode/
.venv/
venv/
env/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
pip-wheel-metadata/
.mypy_cache/
.ruff_cache/
